<div class="mt-5">


    <div class="row row-cols-1">


        <div class="col">
            <div class="card">

                <img [src]="getRandomArbitrary(10)" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="text-right">
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>

                </div>
            </div>
        </div>


        <div class="text-center mt-3">
            <a href="#" routerLink='/home' class="btn btn-success">Return</a>
        </div>
    </div>



</div>