<div class="mt-5">


    <div class="row row-cols-1 row-cols-md-3 g-4">


        <div *ngFor="let col of cols; let i = index" class="col">
            <div class="card">

                <img [src]="getRandomArbitrary(i)" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="text-right">
                        <a [routerLink]="['/detail', i]" class="btn btn-primary">Go somewhere</a>
                    </div>

                </div>
            </div>
        </div>



    </div>



</div>